
body {
	font-family: "Booster";
    padding-top: 50px;
}

nav.navbar {
	height: 51px;
}

.brand {
	line-height: 50px;
	font-size: 26px;
	color: #fff;
	display: inline-block;
}

.brand a {
	color: #fff;
}

.brand a:hover {
	text-decoration: none;
}

.brand .logo-font {
	font-family: LogoFont;
	font-style: normal;
	margin: 0;
	float: left;
}

.flag {
	float: right;
	display: block;
	width: 50px;
	height: 30px;
	background: #fff;
	margin-top: 10px;
}

.flag-red {
	display: block;
	width: 50px;
	height: 10px;
	background: #AE1C27;
}

.flag-blue {
	display: block;
	width: 50px;
	height: 10px;
	background: #26478A;
	margin-top: 10px;
}

.row.no-margin {
	margin-left: 0px;
	margin-right: 0px;
}

.plane-1, .plane-2, .plane-3, .plane-4, .plane-5 {
	width: 100%;
	
}

.plane-header {
	margin: 0;
}

.plane-1 {
	padding: 20px 0 40px 0;
	background: #fff url("../img/zetels4.jpg") no-repeat scroll 0 0 / cover border-box border-box;
}

.plane-1 > .container {
	/*background:	rgba(255, 255, 255, 0.85);
	padding-bottom: 20px;*/
}

.plane-1 > .container h2 {
	font-weight: bold;
	color: #fff;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
}

.plane-1 > .container p {
	font-size: 120%;
	color: #fff;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
}

.data-toggle .btn {
	width: 120px;
}

.sporter-names {
	width: 100px;
	margin-right: 20px;
	float: left;
	font-weight: bold;
	color: #fff;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
}

.plane-1 .sporter-names .sporter-name {
	height: 70px;
	margin: 5px 0;
	text-align: right;
	display: table;
	width: 100px;
}

.plane-1 .sporter-names .sporter-name span {
	font-size: 16px;
	display: table-cell;
	vertical-align: middle;
}

.plane-1 .sporter-names .sporter-name span a {
	color: #333;
}

.plane-1 .sporter-names .sporter-name span a:hover {
	color: #333;
}

.sporter-tiles {
	width: 70px;
	margin-right: 20px;
	float: left;
}

.sporter-tile-70 {
	height: 70px;
	width: 70px;
	background: #000;
	margin: 5px 0;
}

.sporter-bars {
	padding-left: 210px;
}

.sporter-bar {
	height: 70px;
	background: #fff; /* #3c4f80 */
	margin: 5px 0;
}

.sporter-bar .duration {
	padding: 10px 5px 0 5px;
	font-size: 35px;
	line-height: 35px;
	text-align: right;
}

.sporter-bar .duration .value, .sporter-bar .duration-unit .value {
	background: rgba(255, 255, 255, 0.7); /* 95,95,95 | 72,98,159 */
	color: #222; /* #fff */
	/* text-shadow: 2px 2px 1px rgba(0, 0, 0, 1); */
	display: inline-block;
	padding: 0px 2px;
}

.sporter-bar .duration-unit {
	padding: 0 5px 0 5px;
	font-size: 15px;
	line-height: 15px;
	text-align: right;
}

#toggle-row {
	margin-top: 15px;
}

#toggle-row .toggle-info {
	font-size: 120%;
	line-height: 34px;
	color: #fff;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
	margin-right: 30px;
}

.plane-2 {
	border-top-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	background: #48629f; /* 3c4f80 */
}

.plane-2-text {
	margin: 50px 0;
	color: #fff;
	font-size: 14pt;
}

.plane-3 {
	padding-top: 20px;
	padding-bottom: 30px;
}

.plane-3 > .container h2 {
	font-weight: bold;
}

.plane-3 > .container p {
	font-size: 120%;
}

.plane-3 #lijsttrekker-impact {
	width: 100%;
	height: 400px;
}

.plane-4 {
	padding-top: 20px;
	padding-bottom: 60px;
}

.plane-4 .a-z-nav {
	width: 100%;
	text-align: center;
}

.plane-4 .sporter-tile-70 {
	margin-right: 10px;	
}

.plane-4 .sporter-name {
	/* height: 70px; */
	float: left;
	margin: 5px 0;
	vertical-align: middle;
}

.plane-4 .sporter-name span {
	font-size: 18px;
	line-height: 18px;
}

.plane-4 .sporter-name .name {
	font-size: 18px;
	line-height: 18px;
}

.plane-4 .sporter-name .sport {
	font-size: 16px;
	line-height: 16px;
	margin-top: 2px;
}

.plane-4 .sporter-name .duration {
	font-size: 16px;
	line-height: 16px;
	margin-top: 2px;
}

.plane-5 {
	background: black;
	padding-top: 25px;
	padding-bottom: 70px;
}

.plane-5 span {
	color: #fff;	
}

.logo-col {
	margin-top: 15px;
}

.logo-box {
	margin-top: 15px;
	margin-right: 20px;
}

.logo-box img {
	margin-right: 20px;
}


.plane-6 {
	border-top-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	background: #48629f; /* 3c4f80 */
}

.plane-6 .plane-2-text a.btn {
	font-size: 105%;
	font-weight: 200;
}

/*
body:after{
  z-index: 1031;
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #3c4f80;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
*/